.components {
  height: 150px;
  /* width: 90%; */
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  /* margin-left: 40px; */
  box-shadow: 0px 1px 2px 4px grey;
  border: none;
  margin-top: 10px;
  border-radius: 9px;
}
.components:hover {
  cursor: pointer;
  background-color: #e9eff5;
}

#number {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #008bf6;
  font-size: 20px;
  color: white;
  padding-top: 7px;
  padding-left: 15px;
  /* text-align: center; */
  /* padding: 20px; */
}

#rightArrow {
  color: #edf0f2;
  padding: 12px;
  transform: scale(2, 1);
}

#arrow {
  position: absolute;
  /* right: -154px; */
  left: 90%;
  font-size: 20px;
}
